.contenedorForm {
    margin: auto;
    font-family: map-get($algunos , letra );
    padding: 10px 20px;
    margin-top: 20px; 
  }
  
  .textContacto{
    text-align: center;
    font-size: 1em;
    padding: 5%;
  }
  
  input{
    width: map-get($algunos, anchoPantalla);
    margin-bottom: 20px;
    padding: 4px;
    @include letra (1em, assistant);
}
  
  textarea{
    @extend input;
    min-height: 100px;
    max-height: 200px;
    max-width: map-get($algunos, anchoPantalla);
  }
  
  .formContacto{
    display: flex;
    width: map-get($algunos, anchoPantalla);
    padding-top: 30px;
  }
  .formItem{
    justify-content: center;
  }
  
  .visitanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    padding: 3%;
    p {
      @include letra(1.12em, assistant);
      padding: 1.5%;
    }    
  }
  .map{
    padding: 5%;
  }
  