.navbarPagesContacto{ 
  width: 100%;
  height: 75vh;
  display: flex; 
  flex-direction: column;
  align-items: end;
  background-image: url(../img/laptop2.jpg);
  background-color:rgba(128, 128, 128, 0.384);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: end;
        li{
            padding: 5px;  
            padding-top: px;
            display:none;
             a{
                color: rgba(255, 255, 255, 0.85);
                text-decoration: none;
                font-family: assistant;
                font-size: 20px;
                }
            }    
        }
    input{
        display: none;
        &:checked + ul li{
            display: flex;
        } 
    }
    label{
        color:antiquewhite;
        font-size: 24px;
        padding: 10px;
    }
}

.contenedorForm {
    margin: auto;
    font-family: map-get($algunos , letra );
    padding: 10px 20px;
    margin-top: 20px; 
  }
  
  .textContacto{
    text-align: center;
    font-size: 1em;
    padding: 5%;
  }
  
  input{
    width: map-get($algunos, anchoPantalla);
    margin-bottom: 20px;
    padding: 4px;
    @include letra (1em, assistant);
}
  
  textarea{
    @extend input;
    min-height: 100px;
    max-height: 200px;
    max-width: map-get($algunos, anchoPantalla);
  }
  
  .formContacto{
    display: flex;
    width: map-get($algunos, anchoPantalla);
    padding-top: 30px;
  }
  .formItem{
    justify-content: center;
  }
  
  .visitanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    padding: 3%;
    p {
      @include letra(1.12em, assistant);
      padding: 1.5%;
    }    
  }
  .map{
    padding: 5%;
  }
  