@media(min-width:768px) {
    .navbarIndex label{
      display: none;
    }
    .navbarIndex ul{
      flex-direction: row;
      justify-content: end;
      li{
        display: flex;
        a{
          color: rgba(255, 255, 255, 0.85);
          text-decoration: none;
          font-family: assistant;
          font-size: 23px;
          padding: 8px;
        }
      }
    }
    
    .navbarIndexLogo a{
      font-size: 20px;
      padding: 8px;
    }
    
    footer{
      flex-direction: row;
      justify-content: space-between; 
    }
    
    .logoFooter{
      font-size: 2.2em;
    }
  
    .redes a{
      font-size: 24px;
    }
  
    .redes svg{
      width: 32px;
      height: 32px;
    } 
    .navbarPages label{
      display: none;
    }
    .navbarPages ul{
      flex-direction: row;
      justify-content: end;
      li{
        display: flex;
        a{
          color: rgba(255, 255, 255, 0.85);
          text-decoration: none;
          font-family: assistant;
          font-size: 23px;
          padding: 8px;
        }
      }
    }
    
    .navbarPagesLogo a{
      font-size: 20px;
      padding: 8px;
    }
  }
   
  @media (min-width:768px) {
    .navText p{
      font-size: 1.8em;
      margin-top: 17%;
      position: absolute;
      top: 20%;
      left: 20%;  
    }
  
    .navbar ul li a{
      font-size: 1.1em;
    }
  
    .mainNosotros{
      display: grid;
      grid-template-columns: (1fr,1fr);
      grid-template-rows: auto ;
      grid-template-areas: "navbar  navbar"
                           "main    main"
                           "footer  footer "; 
    }
  
    .mainNosotros{
      display: grid;
      grid-area: main;
      flex-direction: row; 
      justify-content: space-around;
      
    }
    
    .imgIntegrantes{
      width: 50vw;
    }
  
    .textNosotros p{
      text-align: justify;
      width:50vw;
    }
  
    .textNosotros h1{
      text-align:center;
      padding-left: 40px;
      padding-top: 35px;
    }
    .navbarPagesNosotros label{
      display: none;
    }
    .navbarPagesNosotros ul{
      flex-direction: row;
      justify-content: end;
      li{
        display: flex;
        a{
          color: rgba(255, 255, 255, 0.85);
          text-decoration: none;
          font-family: assistant;
          font-size: 23px;
          padding: 8px;
        }
      }
    }
  }

  @media (min-width:768px){
  .navbarPagesProductos label{
    display: none;
  }
  .navbarPagesProductos ul{
    flex-direction: row;
    justify-content: end;
    li{
      display: flex;
      a{
        color: rgba(255, 255, 255, 0.85);
        text-decoration: none;
        font-family: assistant;
        font-size: 23px;
        padding: 8px;
      }
    }
  }
}

@media (min-width:768px){
  .navbarPagesProyectos label{
    display: none;
  }
  .navbarPagesProyectos ul{
    flex-direction: row;
    justify-content: end;
    li{
      display: flex;
      a{
        color: rgba(255, 255, 255, 0.85);
        text-decoration: none;
        font-family: assistant;
        font-size: 23px;
        padding: 8px;
      }
    }
  }
}

@media (min-width:768px){
  .navbarPagesContacto label{
    display: none;
  }
  .navbarPagesContacto ul{
    flex-direction: row;
    justify-content: end;
    li{
      display: flex;
      a{
        color: rgba(255, 255, 255, 0.85);
        text-decoration: none;
        font-family: assistant;
        font-size: 23px;
        padding: 8px;
      }
    }
  }
  .navText p{
    font-size: 1.8em;
    margin-top: 10%;
    position: absolute;
    top: 20%;
    left: 20%;  
  }
  .navbar ul li a{
    font-size: 1.1em;
  } 
  
  .redes{
    font-size: 20px;
  }
    
  .mainContacto{
    display: flex;
    flex-direction: row;
  }
  
  .contenedorForm{
    width: 50vw;
  }
  .textContacto{
    text-align: center;     
    font-size: 1.2em;
    padding: 3%;
    width: 100%;
  }
      
  input, textarea{         
    font-size: 1.1em; 
  }
  
    .visitanos{
      display: flex;
      justify-content:flex-start;
      align-items: center;
    }
  
  .visitanos p {
    font-size: 1.2em;
    font-family: assistant;
    padding: 1%;
  }
  
  .map{
    height: 70vh;
    width: 50vw ;
  }
  .pTitle{
    font-size: 1.2em;
    text-align: center;
  }  
}