@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "constantine";
  src: url(../font/Constantine.ttf);
}
.navbarIndex {
  grid-area: navbar;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-image: url(../img/vistalocal.jpg);
  background-color: rgba(128, 128, 128, 0.384);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}
.navbarIndex ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarIndex ul li {
  padding: 5px;
  padding-top: px;
  display: none;
}
.navbarIndex ul li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-family: assistant;
  font-size: 20px;
}
.navbarIndex input, .navbarIndex textarea {
  display: none;
}
.navbarIndex input:checked + ul li, .navbarIndex textarea:checked + ul li {
  display: flex;
}
.navbarIndex label {
  color: antiquewhite;
  font-size: 24px;
  padding: 10px;
}

.navbarIndexLogo {
  position: absolute;
  display: flex;
}
.navbarIndexLogo a {
  text-decoration: none;
  font-family: "constantine";
  color: rgba(250, 235, 215, 0.883);
  font-size: 20px;
  margin: 10px;
}
.navbarIndexLogo a h1 {
  font-size: 2em;
  font-weight: lighter;
}

footer {
  grid-area: footer;
  width: 100%;
  height: 200px;
  background-color: #47413C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

.logoFooter {
  display: flex;
  font-family: "constantine";
  color: antiquewhite;
  font-size: 1.7em;
  font-weight: lighter;
  opacity: 0.7;
  text-align: center;
  text-decoration: none;
}

.redes {
  text-align: center;
  font-family: assistant;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-left: 8px;
  margin-right: 5px;
  padding: 15px;
}
.redes a {
  text-decoration: none;
}
.redes svg {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.8);
  padding: 2px;
}

header {
  display: flex;
}

.navbarPagesLogo {
  position: absolute;
  display: flex;
}
.navbarPagesLogo a {
  text-decoration: none;
  font-family: "constantine";
  color: rgba(250, 235, 215, 0.883);
  font-size: 20px;
  margin: 10px;
}
.navbarPagesLogo a h1 {
  font-size: 1.8em;
  font-weight: lighter;
}

.textoNav {
  width: 100%;
  position: absolute;
  align-self: end;
  text-align: center;
  margin-bottom: 4em;
}
.textoNav p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
  font-family: assistant;
  font-style: oblique;
}

.mainIndex {
  display: flex;
  flex-direction: column;
}
.mainIndex a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: assistant;
  font-weight: bold;
  text-shadow: blanchedalmond;
  font-size: 25px;
  align-self: flex-end;
  padding-bottom: 40px;
}

.main_nosotros {
  background-image: url(../img/mesadeluz.jpg);
  background-color: rgba(128, 128, 128, 0.397);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main_productos {
  background-image: url(../img/sillonredondo.jpg);
  background-color: rgba(128, 128, 128, 0.562);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main_proyectos {
  background-image: url(../img/project1.jpg);
  background-color: rgba(128, 128, 128, 0.562);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main_contacto {
  background-image: url(../img/bajo.jpg);
  background-color: rgba(128, 128, 128, 0.562);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.navbarPagesNosotros {
  grid-area: navbar;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-image: url(../img/carpinteria.jpg);
  background-color: rgba(128, 128, 128, 0.384);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}
.navbarPagesNosotros ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarPagesNosotros ul li {
  padding: 5px;
  padding-top: px;
  display: none;
}
.navbarPagesNosotros ul li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-family: assistant;
  font-size: 20px;
}
.navbarPagesNosotros input, .navbarPagesNosotros textarea {
  display: none;
}
.navbarPagesNosotros input:checked + ul li, .navbarPagesNosotros textarea:checked + ul li {
  display: flex;
}
.navbarPagesNosotros label {
  color: antiquewhite;
  font-size: 24px;
  padding: 10px;
}

.mainNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.imgIntegrantes {
  display: flex;
  width: 70vw;
  margin-top: 2em;
  border-radius: 5px;
}

.textNosotros {
  color: rgb(41, 41, 41);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.12em;
  font-family: assistant;
  margin-bottom: 5%;
}
.textNosotros h1 {
  font-family: assistant;
  padding: 2%;
}
.textNosotros p {
  text-align: justify;
  padding: 30px;
}
.textNosotros p span {
  font-weight: bold;
}

.navbarPagesProductos {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-image: url(../img/navprod.jpg);
  background-color: rgba(128, 128, 128, 0.384);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}
.navbarPagesProductos ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarPagesProductos ul li {
  padding: 5px;
  padding-top: px;
  display: none;
}
.navbarPagesProductos ul li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-family: assistant;
  font-size: 20px;
}
.navbarPagesProductos input, .navbarPagesProductos textarea {
  display: none;
}
.navbarPagesProductos input:checked + ul li, .navbarPagesProductos textarea:checked + ul li {
  display: flex;
}
.navbarPagesProductos label {
  color: antiquewhite;
  font-size: 24px;
  padding: 10px;
}

.card-title {
  font-size: 18px;
  padding-bottom: 5%;
}

.card-body {
  text-align: center;
}

.img-tarj {
  text-align: center;
}

.navbarPagesProyectos {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-image: url(../img/navproyecto.jpg);
  background-color: rgba(128, 128, 128, 0.384);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}
.navbarPagesProyectos ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarPagesProyectos ul li {
  padding: 5px;
  padding-top: px;
  display: none;
}
.navbarPagesProyectos ul li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-family: assistant;
  font-size: 20px;
}
.navbarPagesProyectos input, .navbarPagesProyectos textarea {
  display: none;
}
.navbarPagesProyectos input:checked + ul li, .navbarPagesProyectos textarea:checked + ul li {
  display: flex;
}
.navbarPagesProyectos label {
  color: antiquewhite;
  font-size: 24px;
  padding: 10px;
}

.card-title {
  font-family: assistant;
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  font-family: assistant;
  font-size: 18px;
}

.navbarPagesContacto {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-image: url(../img/laptop2.jpg);
  background-color: rgba(128, 128, 128, 0.384);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}
.navbarPagesContacto ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarPagesContacto ul li {
  padding: 5px;
  padding-top: px;
  display: none;
}
.navbarPagesContacto ul li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-family: assistant;
  font-size: 20px;
}
.navbarPagesContacto input, .navbarPagesContacto textarea {
  display: none;
}
.navbarPagesContacto input:checked + ul li, .navbarPagesContacto textarea:checked + ul li {
  display: flex;
}
.navbarPagesContacto label {
  color: antiquewhite;
  font-size: 24px;
  padding: 10px;
}

.contenedorForm {
  margin: auto;
  font-family: assistant;
  padding: 10px 20px;
  margin-top: 20px;
}

.textContacto {
  text-align: center;
  font-size: 1em;
  padding: 5%;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 4px;
  font-size: 1em;
  font-family: assistant;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.formContacto {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

.formItem {
  justify-content: center;
}

.visitanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  padding: 3%;
}
.visitanos p {
  font-size: 1.12em;
  font-family: assistant;
  padding: 1.5%;
}

.map {
  padding: 5%;
}

@media (min-width: 768px) {
  .navbarIndex label {
    display: none;
  }
  .navbarIndex ul {
    flex-direction: row;
    justify-content: end;
  }
  .navbarIndex ul li {
    display: flex;
  }
  .navbarIndex ul li a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-family: assistant;
    font-size: 23px;
    padding: 8px;
  }
  .navbarIndexLogo a {
    font-size: 20px;
    padding: 8px;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .logoFooter {
    font-size: 2.2em;
  }
  .redes a {
    font-size: 24px;
  }
  .redes svg {
    width: 32px;
    height: 32px;
  }
  .navbarPages label {
    display: none;
  }
  .navbarPages ul {
    flex-direction: row;
    justify-content: end;
  }
  .navbarPages ul li {
    display: flex;
  }
  .navbarPages ul li a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-family: assistant;
    font-size: 23px;
    padding: 8px;
  }
  .navbarPagesLogo a {
    font-size: 20px;
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .navText p {
    font-size: 1.8em;
    margin-top: 17%;
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .navbar ul li a {
    font-size: 1.1em;
  }
  .mainNosotros {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navbar  navbar" "main    main" "footer  footer ";
  }
  .mainNosotros {
    display: grid;
    grid-area: main;
    flex-direction: row;
    justify-content: space-around;
  }
  .imgIntegrantes {
    width: 50vw;
  }
  .textNosotros p {
    text-align: justify;
    width: 50vw;
  }
  .textNosotros h1 {
    text-align: center;
    padding-left: 40px;
    padding-top: 35px;
  }
  .navbarPagesNosotros label {
    display: none;
  }
  .navbarPagesNosotros ul {
    flex-direction: row;
    justify-content: end;
  }
  .navbarPagesNosotros ul li {
    display: flex;
  }
  .navbarPagesNosotros ul li a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-family: assistant;
    font-size: 23px;
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .navbarPagesProductos label {
    display: none;
  }
  .navbarPagesProductos ul {
    flex-direction: row;
    justify-content: end;
  }
  .navbarPagesProductos ul li {
    display: flex;
  }
  .navbarPagesProductos ul li a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-family: assistant;
    font-size: 23px;
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .navbarPagesProyectos label {
    display: none;
  }
  .navbarPagesProyectos ul {
    flex-direction: row;
    justify-content: end;
  }
  .navbarPagesProyectos ul li {
    display: flex;
  }
  .navbarPagesProyectos ul li a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-family: assistant;
    font-size: 23px;
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .navbarPagesContacto label {
    display: none;
  }
  .navbarPagesContacto ul {
    flex-direction: row;
    justify-content: end;
  }
  .navbarPagesContacto ul li {
    display: flex;
  }
  .navbarPagesContacto ul li a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-family: assistant;
    font-size: 23px;
    padding: 8px;
  }
  .navText p {
    font-size: 1.8em;
    margin-top: 10%;
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .navbar ul li a {
    font-size: 1.1em;
  }
  .redes {
    font-size: 20px;
  }
  .mainContacto {
    display: flex;
    flex-direction: row;
  }
  .contenedorForm {
    width: 50vw;
  }
  .textContacto {
    text-align: center;
    font-size: 1.2em;
    padding: 3%;
    width: 100%;
  }
  input, textarea {
    font-size: 1.1em;
  }
  .visitanos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .visitanos p {
    font-size: 1.2em;
    font-family: assistant;
    padding: 1%;
  }
  .map {
    height: 70vh;
    width: 50vw;
  }
  .pTitle {
    font-size: 1.2em;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */